 /* large */
 @media (max-width: 992px) and (max-width: 1199.98px) {
    /*home*/ 
    .container-home-img .texto-padrao {
        font-size: 25px;
    }    

    .rodape-home-poke {
        right: 20%;
        width: 300px;
    }

    /*cards*/
    .voltar-home .texto-padrao {
        font-size: 20px;
    }

    .row .col.m6 {
        grid-template-columns: 65% 65% 65%;
    }

    .horizontal {
        width: 95%;
        margin: 2px;
    }

    .card .card-content {
        font-size: 20px;
    }

    /*info*/
    .container-fotos img {
        width: 80px;
        height: 125px;
    }

    /*sobre nos*/
    .texto-padrao {
        font-size: 18px;
    }

    .texto-sobre {
        margin-top: 6%;
        margin-left: 5%;
    }
    
    .nome-sobre {
        top: 40%;
    }

    .sobre-voltar{
        bottom: 15%;
        right: 14%;
    }
}

/*medium*/
@media (max-width: 768px) and (max-width: 991.98px){
    /*home*/ 
    .container-home-img .texto-padrao {
        font-size: 15px;
    } 

    .rodape-home-poke {
        right: 30%;
    }

    /*cards*/
    .voltar-home .texto-padrao {
        font-size: 15px;
    }

    /*info*/
    .container-fotos img {
        width: 70px;
        height: 90px;
    }

    /*sobre nos*/
    .texto-padrao {
        font-size: 15px;
    }

    .texto-sobre {
        margin-top: 35%;
    }
    
    .nome-sobre {
        top: 45%;
    }

    .sobre-voltar{
        bottom: 0;
        right: 18%;
    }
    
    .voltar-icon{    
        font-size: 40px;
    }
    
    .sobre-voltar p {
        font-size: 20px;
    }

    .icone-nome {
        font-size: 30px;
    }

    /*small*/
    @media (max-width: 576px) and (max-width: 767.99px) {
        /*home*/ 
        .container-home-img .texto-padrao {
            font-size: 15px;
        }  

        .rodape-home-poke {
            right: 35%;
        }

        .rodape-home-sobre {
            left: 0;
            right: 20%;
        }

        /*cards*/
        .voltar-home .texto-padrao {
            font-size: 14px;
        }

        .row .col.m6 {
            grid-template-columns: 50% 50%;
        }

        .card .card-content {
            font-size: 15px;
        }

        /*info*/
        .container-fotos img {
            width: 50px;
            height: 70px;
        }

        /*sobre nos*/
        .texto-padrao {
            font-size: 12px;
        }

        .texto-sobre {
            margin-top: 45%;
        }

        .sobre-voltar{
            top: 12%;
            right: 15%;
        }

        .voltar-icon {    
            font-size: 40px;
        }
    }

    /*extra small*/
    @media (max-width: 575.98px){
        /*cards*/
        .voltar-home .texto-padrao {
            font-size: 10px;
        }

        /*info*/
        .container-fotos img {
            width: 50px;
            height: 70px;
        }

        /*sobre nos*/
        .texto-sobre {
            margin-top: 65%;
            margin-left: 5%;
        } 

        .icone-nome {
            font-size: 20px;
        }

        .sobre-voltar{
            top: 18%;
            right: 15%;
        }

        .sobre-voltar p {
            font-size: 15px;
        }

        .voltar-icon {    
            font-size: 30px;
        }

        .nome-sobre {
            left: 15%;
        }
    }
}