body {
    background-image: url(poke_background.jpg);
    background-attachment: fixed;
	background-size: cover;
	background-position:bottom;
    overflow-x: hidden;
}

/* Home */
.container-home {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 80%;
    height: 500px;
    margin-top: 2%;
    margin-left: 10%;
}

.container-home-img, .container-sobre-img {
    background-image: url(pokedex.jpg);
    background-attachment: fixed;
	background-size:cover;
    background-repeat: no-repeat;
	background-position:bottom;
    opacity: 0.6;
    box-shadow: rgb(119, 119, 119) 20px 20px 1px;
    width: 100%;
    height: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: start;
}

.container-home-img h2 {
    display: block;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(245, 6, 6);
    background-color: #fff;
    position: relative;
    bottom: 40%;
    left: 40%;
}

.rodape-home-poke, .rodape-home-sobre {
    display: flex;
    position: relative;
    top: 33%;
    right: 20%;
    width: 385px;
}

.rodape-home-sobre {
    left: 10%;
}

.container-home-img .texto-padrao {
    color: #000;
    font-size: 35px;
    background-color: #fff;
    padding: 2%;
}

/* Cards */
.grid {
    display: grid;
    grid-template-columns: 50% auto;
    grid-template-areas: 
        "header-poke"
        "cards-poke"
    ;
}

.header-poke {
    grid-area: header-poke;
}

.cards-poke {
    grid-area: cards-poke;
    display: inline;
}

.container-animacao {
    width: 100%;
    height: 100%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row .col.m6 {
    display: grid;
    grid-template-columns: 47% 47% 47% 47%;
    margin-left: 3%;
}

.horizontal {
    margin: 10px;
    background-color: rgba(223, 235, 233, 0.445);
    border-radius: 13px;
    width: 98%;
}

.horizontal:hover {
    transition: ease-in-out 0.5s;
    background-color: rgba(29, 29, 177, 0.726);
    box-shadow: #03040586 10px 15px 2px;
    transform: translateY(-8px);
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #fff;
}

.card-image img {
    width: 96px;
    height: 96px;
    margin-left: 10px;
    margin-top: 90%;
}

.card .card-content {
    padding-left: 0;
    padding-top: 0;
    font-size: 30px;
}

.card .card-action {
    padding: 0;
}

.card-action {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) {
    color: #000;
    font-size: 20px;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating):hover{
    color: #fff;
    transition: ease-in-out;
    font-size: 20px;
}

.icones-poke {
    font-size: 100px;
    color: rgb(30, 18, 202);
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 30%, rgba(202, 199, 18, 0.61) 1%, rgba(255, 255, 255, 0) 60%);
    height: auto;
    padding: auto;
}
.paginator {
    padding: 0 40%;
    padding-right: 0;
    margin: 40px auto;
    display: inline-block;
    width: 100%;
}

.container-paginator {
    display: flex;
    float: left;
}

.lista-pag {
    display: flex;
    float: left;
}

.lista-pag button {
    font-size: 20px;
    font-family:monospace;
    background-color: rgba(255, 235, 205, 0);
    color: blanchedalmond;
    margin: auto 3px;
}

.lista-pag button:hover {
    background-color: rgb(120, 117, 122);
    transform: translateX(-3px) translateY(-1px);
    transition: ease-in-out 0.7s;
}

.active button {
    color: rgb(255, 0, 0);
}

.pag-anterior, .pag-proxima {
    background-color: rgba(255, 255, 255, 0);
}

.pag-anterior i, .pag-proxima i {
    color: rgb(255, 0, 0);
}

.material-icons {
    font-size: 45px;
}

.texto-padrao {
    opacity: 1;
    color: #fff;
    font-size: 25px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


footer{
    display: flex;
    position:fixed;
    bottom: 0;
    background-color: #777;
    width: 100%;
    align-items: center;
    justify-content: center;
    opacity: 0.5;
}

.footer {
    background-color: rgba(2, 2, 2, 0.219);
    padding: auto 10px;
}

/* Sobre Nós */
.container-sobre-img {
    background-image: url(pergaminho.png);
    background-size: contain;
    opacity: 0.8;
    box-shadow: none;
}

.sobre-voltar{
    display: flex;
    position: relative;
    bottom: 20%;
    right: 10%;
}

.sobre-voltar a{    
    font-size: 60px;
    transform: rotateY(180deg);
    color: red;
    background-color: #eee;
    border: 2px solid #000;
}

.sobre-voltar p {
    margin-left: 12%;
    color: rgb(0, 0, 0);
}

.texto-sobre {
    position: absolute;
    width: 35%;
    margin-top: 10%;
    margin-left: 5%;
}

.nome-sobre {
    display: flex;
    position: relative;
    top: 40%;
}

.icone-nome {
    font-size: 50px;
    color: #777;
}