 /* large */
 @media (max-width: 992px) and (max-width: 1199.98px) {
    /*sobre nos*/
    .texto-padrao {
        font-size: 18px;
    }

    .texto-sobre {
        margin-top: 6%;
        margin-left: 5%;
    }
    
    .nome-sobre {
        top: 40%;
    }

    .sobre-voltar{
        bottom: 15%;
        right: 14%;
    }
}

/*medium*/
@media (max-width: 768px) and (max-width: 991.98px){
    /*sobre nos*/
    .texto-padrao {
        font-size: 15px;
    }

    .texto-sobre {
        margin-top: 35%;
    }
    
    .nome-sobre {
        top: 45%;
    }

    .sobre-voltar{
        bottom: 0;
        right: 18%;
    }
    
    .sobre-voltar a{    
        font-size: 40px;
    }
    
    .sobre-voltar p {
        font-size: 20px;
    }

    .icone-nome {
        font-size: 30px;
    }

    /*small*/
    @media (max-width: 576px) and (max-width: 767.98px) {
        /*sobre nos*/
        .texto-padrao {
            font-size: 12px;
        }

        .texto-sobre {
            margin-top: 45%;
        }

        .sobre-voltar{
            top: 12%;
            right: 15%;
        }

        .sobre-voltar a{    
            font-size: 40px;
        }
    }

    /*extra small*/
    @media (max-width: 575.98px){
        /*sobre nos*/
        .texto-sobre {
            margin-top: 65%;
            margin-left: 5%;
        } 

        .icone-nome {
            font-size: 20px;
        }

        .sobre-voltar{
            top: 18%;
            right: 15%;
        }

        .sobre-voltar p {
            font-size: 15px;
        }

        .sobre-voltar a{    
            font-size: 30px;
        }

        .nome-sobre {
            left: 15%;
        }
    }
}